<header>
  <img
    src="assets/img/adriano.jpg"
    alt="Adriano - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />

  <h1>Adriano Silva</h1>
</header>

<aside>
  <div class="container">
    <p>FullStack Dev - Tech Manager - NodeJS - Angular - React - SQL</p>
    <p>São Paulo - SP - Brasil</p>
    <p>Profissional com 20 anos de experiência em Tecnologia e Gestão.</p>
  </div>

  <nav>
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/adrianoleitedasilva/"
          target="_blank"
          class="btn btn-primary"
          >LinkedIn
        </a>
      </li>

      <li>
        <a
          href="assets/pdf/Adriano Silva.pdf"
          target="_blank"
          class="btn btn-secondary"
          >Download CV
        </a>
      </li>
    </ul>
  </nav>

  <section>
    <figure>
      <img
        src="assets/icons/whatsapp.svg"
        alt="Ícone para contato do WhatsApp"
        height="24px"
        width="22px"
      />
      <figcaption>
        <a
          href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Adriano%2C%20preciso%20de%20mais%20informa%C3%A7%C3%B5es"
          ><b>Envie uma mensagem para:</b></a
        >
        <p>WhatsApp: (11) 0 0000-0000</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="assets/icons/mail.svg"
        alt="Ícone para contato via e-mail"
        height="24px"
        width="22px"
      />
      <figcaption>
        <a href="mailto:{{ email }}"><b>Envie um email para:</b></a>
        <p>{{ email }}</p>
      </figcaption>
    </figure>
  </section>
</aside>
